
.card {
    height: 320px;
    animation: fadeIN 1.5s;
}

.card .img {
    height: 220px;
    background-color: #d9d9d9;
    position: relative;
}
.card .img img{
    object-fit: cover;
}
.card .title{
    font-size: 24px;
    font-weight: bold;
}
.card .subtitle{
    font-size: 18px;
    color:#666666;
}

.head .p {
    color: #666666;
}

.head {
    margin: 10px 0;
    padding: 0;
}
.card .cardfoot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.card .cardfoot a{
    text-decoration: none;
    font-size:18px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}
    
